*.iml
.gradle
/local.properties
/.idea/workspace.xml
#/.idea/libraries
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/res/drawable/
app/src/main/res/drawable/
ourretrofit/src/main/res/drawable/
